[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group InvisibleTeam
	owner = group user/kejmil01
[access "refs/for/refs/*"]
	read = group InvisibleTeam
	read = group user/kejmil01
	push = group InvisibleTeam
	push = group user/kejmil01
	label-Code-Review = -2..+2 group InvisibleTeam
	label-Code-Review = -2..+2 group user/kejmil01
	label-Verified = -1..+1 group InvisibleTeam
	label-Verified = -1..+1 group user/kejmil01
	rebase = group InvisibleTeam
	rebase = group user/kejmil01
	removeReviewer = group InvisibleTeam
	removeReviewer = group user/kejmil01
	submit = deny group user/kejmil01
	submit = group InvisibleTeam
	submit = group user/BartSoftware
[access "refs/heads/*"]
	read = group InvisibleTeam
	read = group user/kejmil01
	create = group InvisibleTeam
	create = group user/kejmil01
	push = +force group InvisibleTeam
	push = +force group user/kejmil01
	pushMerge = group InvisibleTeam
	pushMerge = group user/kejmil01
[access "refs/tags/*"]
	push = +force group InvisibleTeam
	push = group user/kejmil01
	push = +force group user/kejmil01
